*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#img{
    width: 100%;
    display: block;
}
.main{
    background-color: #928484;
    text-align: center;
    line-height: 1.5;
    height: 300px;
}
#t1{
    padding: 40px 0 10px 0;
}
.inferior{
    background-color: #DDD0C8;
    padding: 50px;
    color: black;
}
.texto{
    width: 40%;
    display: inline-block;
    margin: 0 50px 0 0;
    vertical-align: top;
    line-height: 1.5;
}
.img2{
    width: 40%;
    margin: 30px 0 0 0;
}
#t2{
    font-size: 22px;
    margin: 0 0 10px 0;
}
footer{
    text-align: center;
    background: rgb(77, 77, 77);
    color: #f5f5f5;
    line-height: 1.8;
    padding: 50px;
}
#copy{
    margin: 40px 0 0 0;
    font-size: 14px;

}
header{
    position: fixed;
    color: rgb(248, 248, 248);
    font-size: 22px;
    background: rgba(255, 255, 255, 0.1);
    width: 100px;
    padding: 10px;
}
span{
    color: rgb(37, 35, 35);
}